body{
    background-color: #1a1a1a;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
}

h1{
    color:#aebfd6;
}
a{
    color: yellow;
}

img {
    width: 500px; 
    border: 4px solid white; 
}